* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(235, 18%, 26%);
}



.form {
    margin-left: 5%;
}

ul li {
    list-style: none;
}
.desktop {
    height: 90%;
    margin-left: -10%;
}

#newpage {
    display: none;
}


.hidden {
    display: none;
}


.newpage-style {
    width: 500px;
    height: 520px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 1.75rem;
    border-radius: 1.5rem;
    gap: 1.75rem;
  }

h1 {
    color: hsl(235, 18%, 26%);
    margin: 2% 0;
    font-size: 3rem;
}

p, li {
    color:  hsl(231, 7%, 60%);
    font-size: 2rem;
    font-weight: 100;
    margin: 2% 0;
}


li {
    font-size: 1.5rem;
    display: flex;
}

li > img {
    margin-right: 15px;
}

#emailbar {
    margin-top: 5%;
}

input {
    width: 60%;
    height: 3rem;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 0.3rem;
    font-weight: bolder;
}

button {
    width: 50%;
    height: 4rem;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-weight: bolder;
    border-radius: 1rem;
    box-shadow: transparent;
}

button:hover {
    background-color: hsl(4, 100%, 67%);
}

input::placeholder {
    padding-left: 5%;
    font-weight: bolder;
}

@media (max-width: 768px) {
    body {
        margin-top: 800px;
    }
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
    }



    .mobile {
        width: 100%;
    }   

    .desktop {
        display: none;
    }

 
}
@media (min-width: 768px) {
    
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    margin: 10%;
    width: 75%;
    flex-basis: 75% 25%;
    border-radius: 2rem;
    height: auto;
}
.mobile {
    display: none;

}

}